doctype html
html
  head
    title Let Start -  #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block stylesheet
    block javascript
  body
    block content
